$color-purple: #3F3C88;
$color-text-light: #9F9F9F;
$color-bg-search: #F6F5F2;

.main-header {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

    .container {
        max-width: 100%;
        margin: 0;
        padding: 0 91px;
    }

    .header-top-bar {
        border-bottom: 1px solid #F0F0F0;

        .top-bar-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px; // Ajustar conforme Figma
            font-size: 12px;
            color: #9F9F9F;
            gap: 119px; // Medida exata que pegou do Figma

            span {
                display: flex;
                align-items: center;
                gap: 4px;

                b {
                    color: #4b0ac4;
                    font-weight: 600;
                }
            }
        }
    }

    .header-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;

        .logo-container {
            .logo-image {
                width: 139px;
                height: 41px;
                top: 47px;
                opacity: 1;

            }

        }

        .search-bar {
            display: flex;
            align-items: center;
            background-color: #F6F5F2;
            border-radius: 10px;
            width: 630px;
            height: 48px;
            padding: 10px 16px;

            input {
                flex: 1;
                border: none;
                background: transparent;
                outline: none;
                font-size: 14px;
                color: #9F9F9F;

                &::placeholder {
                    color: #9F9F9F;
                }
            }

            button {
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .user-actions {
            display: flex;
            align-items: center;
            height: 32px; // Adicionado 'px'
            gap: 32px;

            .icon {
                font-size: 28px;
                cursor: pointer;
                color: #9F9F9F;
            }
        }
    }

    // --- Nav Bar ---
    .main-nav {
        border-top: 1px solid #F0F0F0;
        border-bottom: 1px solid #EAEAEA;
        padding: 16px 69px;
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
        background-color: #FFF;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 12px;
                font-weight: 600;
                color: #9F9F9F;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                transition: color 0.3s;

                &.highlight {
                    color: #4b0ac4;
                }

                .material-symbols-outlined {
                    font-size: 20px;
                    font-weight: 400;
                    display: inline-flex;
                    vertical-align: middle;
                    line-height: 1;
                }
            }
        }
    }
}