* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
    color: #333;
    --webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

img {
    max-width: 100%;
    display: block;
}

#root {
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.app-container {
    width: 100%;
}